# build
dist/
.astro/

# deps
node_modules/

# env
.env
.env.production

# os
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# logs
npm-debug.log*
*.log

# material original subido (no se publica)
_originales/
